/*Pictures of Me*/
#conlin1 {
width: 470;
height: 470;
border-radius: 50%;
}
.pics{
	float: left;
	width: 35%;
}
.right{
	float: left;
	width: 65%;
	padding-right: 95px;
	padding-left: 55px;
}
/*Social Media Icons*/
.fa {
	color:#F25050;
	text-decoration: none;
}

/*Navigation*/
.navigation {
  height: auto;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}
.navigation ul {
  padding: 0;
}
.navigation a {
  color: #000000;
  display: inline-block;
  font-family: Quicksand;
  font-weight: 3000;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
  text-decoration:none;
  position: relative;
}
.navigation a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F25050;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navigation a:hover:before {
	 visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navigation li {
  color: #CEF6F5;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

/*Top Photo*/
.jumbotron {
  background: url("https://unsplash.it/1925/1280?image=360") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/*AboutMe Section*/
.AboutMe{
	color: #FFFFFF;
	font-family: Quicksand;
	font-size: 24px;
	background-color: #222222;
}
/*ComputerSkills Section*/
.computerSkills{
	color: #FFFFFF;
	background-color: #222222;
}
/*To Center an object*/
.Center {
  text-align: center;
}
 
 /*Resume Button*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #F25050;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  color: #FFFFFF;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #FFFFFF;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #FFFFFF;
}
.button:hover span {
  padding-right: 25px;
  color: #FFFFFF;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
  color: #FFFFFF;
}

/*Athletics Section*/
.Athletics{
	background-color: #222222;
}

/*Contact me Section*/
.contactMe{
	background-color: #222222;
}

/*ComputerSkils Table Animation*/
.container th h1 {
	  font-family: Quicksand;
	  font-weight: bold;
	  font-size: 2em;
  	  text-align: left;
      color: #F25050;
}
.container td {
	  font-weight: normal;
	  font-size: 1em;
}

.container {
	  color: #000000;
	  text-align: left;
	  width: 100%;
	  margin: 0 auto;
  	  display: table;
  	  padding: 0 0 0 0;
  	  border-collapse: collapse;
  	  border-radius: 25px;

}
.container td {
	  padding-bottom: .7%;
	  padding-top: .7%;
      padding-left: 1%;
      font-family: Open Sans;
      font-size: 15px;
      font-weight: bold;
      border-left: 5px solid black;
      border-collapse: collapse;
}
.space{
	letter-spacing: 2px;
}
.container th{
	 padding-top: 1%;
     padding-left: 2%;
     border-left: 5px solid black;
     border-collapse: collapse;
}
.container th:first-child{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.container th:last-child{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
} 
.container tr:last-child td:first-child{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-collapse: collapse;
}
.container tr:last-child td:last-child{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-collapse: collapse;
}
.container tr:nth-child(odd) {
	  background-color: #FFFFFF;
}
.container tr:nth-child(even) {
	  background-color: #FFFFFF;
}
.container th {
	  background-color: #D1D1D1;
}

/*Title Words*/
#title1 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-shadow: RGBA(120,120,120,.9) 1px 1px 4px;
}
#title2 {
  color: #FFF;
  font-family: Open Sans;
  margin: 0;
  text-align: center;
  text-shadow: RGBA(120,120,120,.9) 1px 1px 4px;
}

/*Section words*/
h3{
  color: #FFF;
  background-color:#F25050;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  padding: 12 20 12 20;

}

/*Arrow Animation*/
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}
.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/*Bar Graph animation*/
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}
body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: Open Sans;
  margin: 0 0 0 0;
}
.wrap {
  width: 50%;
  margin: 0 auto;
}
ul {
 	li {
  		line-height: 2;
   		font-weight: bold;
  		font-family: Quicksand;
  		font-size: .85em;
  		text-transform: uppercase;
  		clear: both;
		border-bottom: 1px solid $border;
		&:before {
			content: "\2023";
			padding: 0 1em 0 0;
		}
 	}
 }
.bar{
 	background: #fa6e6f; 
 	width: 0;
 	margin: .25em 0;
 	color: #fff;
 	position: relative;
 	 transition:width 2s, background .2s;
    -webkit-transform: translate3d(0,0,0);
 	 clear: both;
 	 &:nth-of-type(2n) {
 	 	background:lighten(#e74c3c , 10% );
 	 }
}
.even{
	background: #F4A7A9;
}
.label {
	color: #FB667A;
    font-size: 1em;
    background: #FFFFFF;
    width: 8em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-family: Open Sans;
  }

.count {
	position: absolute;
	right: .25em;
	font-weight: bold;
	font-family: '21st Regular', sans-serif;
}
 
/*ContactMe email area*/
input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: Quicksand;
}
input[type=submit] {
    cursor:pointer;
	width:100%;
	border:none;
	background:#F4A7A9;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
	font-family: Quicksand;
	letter-spacing: 2px;
}
input[type=submit]:hover {
    background:#F25050;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.email {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width:450px;
    margin:0 auto;
    position:relative;
}
.email label, span {
	color: #000000;
}
/*Athletic Pricing Tables*/
.AthleticBody{
	background:url(https://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/bg.jpg)no-repeat 0px 0px;
	   font-family: Quicksand;
	    background-size: cover;
	    -o-background-size: cover;
	    -webkit-background-size: cover;
	     -moz-background-size: cover;
}
.AthleticWrap{
	margin: 0 auto;
	width: 100%;
}

.price-head h1 {
text-align: center;
margin-top: 2em;
font-size: 3em;
color: #fff;
}

.pricing-grid1,.pricing-grid3 {
float: center;
width: 100%;
padding: 25px;
text-align: center;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
border: none;
border-radius: 0.5em;
-webkit-border-radius: 0.5em;
-o-border-radius: 0.5em;
-moz-border-radius: 0.5em;
}

.pricing-grid2,.pricing-grid3 {
float: left;
width: 50%;
padding: 14px;
text-align: center;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
border: none;
border-radius: 0.7em;
-webkit-border-radius: 0.7em;
-o-border-radius: 0.7em;
-moz-border-radius: 0.7em;
}

.price-value h2,.price-value.two h2,.price-value.three h2{
	font-size: 1.8em;
	color:#fff;
}
.price-value,.price-value.two,.price-value.three {
	background: #2b2b33;
	padding: 2.8em 1.8em 2em;
	border-bottom:2px solid#F4A7A9;
	border-top-left-radius:0.7em;
	-webkit-border-top-left-radius:0.7em;
	-o-border-top-left-radius: 0.7em;
	-moz-border-top-left-radius:0.7em;
	border-top-right-radius:0.7em;
	-webkit-border-top-right-radius:0.7em;
	-o-border-top-right-radius:0.7em;
	-moz-border-top-left-radius: 0.7em;
	position: relative;
}
.price-value.two{
	border-bottom:2px solid#fd6e70;
}
.price-value.three {
  border-bottom:2px solid#F25050;
}
.price-value:hover h2{
  color:#F4A7A9;
}
.price-value.two:hover h2{
  color:#fa6e6f;
}
.price-value.three:hover h2{
  color:#F25050;
}
.cart1,.cart2,.cart3{
	padding: 2.7em 0em 2.7em;
	display: block;
	border-bottom: 2px solid#F4A7A9;
}
.cart2{
border-bottom: 2px solid#f96d70;
}
.cart3{
border-bottom: 2px solid#F25050;
}
.cart2 a{
	color: #FFF;
	font-size: 1em;
	font-weight: 500;
	padding: 0.8em 2em;
	text-decoration: none;
	background: #fa6e6f;
	text-transform:uppercase;
	-webkit-appearance:none;
	border-radius:1em;
	-webkit-border-radius:1em;
	-o-border-radius:1em;
	-moz-border-radius:1em;
	outline: none;
	font-family: Quicksand;
}

.cart2 a:hover{
	color: #2b2b33;
}

.writing{
	color:#FFFFFF;
	padding-top: 10;
	transform: translateZ(0);
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.writing a{
	color: #F25050;
}

.writingInternship{
	color:#FFFFFF;
	padding-top: 10;
	transform: translateZ(0);
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	max-width: 1000px;
	margin: auto;
    width: 50%;
}