#conlin1, #conlin2, #conlin3 {
width: 180;
height: 180;
border-radius: 50%;
}

.fa {
	color:#4286f4;
	text-decoration: none;
}

.navigation {
  height: auto;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}
.navigation ul {
  padding: 0;
}
.navigation a {
  color: #CEF6F5;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
  text-decoration:none;
}
.navigation li {
  color: #CEF6F5;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

.jumbotron {
  background: url("https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_537,q_50,w_1084/v1/clients/omaha/OmahaSkyline_fountain_04fab722-1e4b-4daa-a2b0-ac604ee9d765.jpg") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.AboutMe{
	color: #FFFFFF;
	background-color: #222222;
	font-family: '21st Regular', sans-serif;
}

.Center {
  text-align: center;
 }
 .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #B40431;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.Athletics{
	color: #FFFFFF;
	background-color: #222222;
	font-family: '21st Regular', sans-serif;
}
.contactMe{
	color: #FFFFFF;
	background-color: #222222;
	font-family: '21st Regular', sans-serif;
}

.contactMe td {
	color: #FFFFFF;
	background-color: #222222;
	font-family: '21st Regular', sans-serif;
}

/*ComputerSkils Table Animation*/
.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  	  text-align: left;
      color: #2177CE;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	  -moz-box-shadow: 0 2px 2px -2px #0E1119;
	  box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  color: #A7A1AE;
	  text-align: left;
	  width: 100%;
	  margin: 0 auto;
  	  display: table;
  	  padding: 0 0 1em 0;
}
.container td, .container th {
	  padding-bottom: .7%;
	  padding-top: .7%;
      padding-left: 2%;
}
.container tr:nth-child(odd) {
	  background-color: #323C50;
}
.container tr:nth-child(even) {
	  background-color: #2C3446;
}
.container th {
	  background-color: #1F2739;
}

.container tr:hover {
   background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #3979B9;
  color: #403E10;
  font-weight: bold;
  box-shadow: #190707 -1px 1px, #190707 -2px 2px,#190707 -3px 3px,
  #190707 -4px 4px,#190707 -5px 5px, #190707 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

.computerSkills{
	background-color: #222222;
}
#title1 {
  color: #FFF;
  font-family: 'Ruda', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}
#title2 {
  color: #FFF;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  text-align: center;
}
h3{
  color: #FFF;
  background-color:#FF0040;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  padding: 12 20 12 20;

}
/*Arrow Animation*/
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/*Bar Graph animation*/
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: '21st Regular', sans-serif;
  margin: 0 0 0 0;
}

.wrap {
  width: 50%;
  margin: 0 auto;
}
ul {
 	li {
  		line-height: 2;
   		font-weight: bold;
  		font-family:'21st Regular', sans-serif;
  		font-size: .85em;
  		text-transform: uppercase;
  		clear: both;
		border-bottom: 1px solid $border;
		&:before {
			content: "\2023";
			padding: 0 1em 0 0;
		}
 	}
 }
 .bar {
 	background: #C93C4F; 
 	width: 0;
 	margin: .25em 0;
 	color: #fff;
 	position: relative;
 	 transition:width 2s, background .2s;
    -webkit-transform: translate3d(0,0,0);
 	 clear: both;
 	 &:nth-of-type(2n) {
 	 	background:lighten(#e74c3c , 10% );
 	 }
}
.even{
	background: #E13E54;
}

.label {
	color: #FB667A;
    font-size: 1em;
    background: #323C50;
    width: 8em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  
 .light {
    background: #2C3446;
   }
 .count {
	position: absolute;
	right: .25em;
	top: .75em;
 	padding: .15em; 
	font-size: .75em;
	font-weight: bold;
	font-family: '21st Regular', sans-serif;
 }
 
/*ContactME email area*/
input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

input[type=submit]:hover {
    background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.email {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width:450px;
    margin:0 auto;
    position:relative;
}
.email label, span {
	color: #000000;
}